NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDSKiGtl6eF_WEsNp75iRH_lZOXG8FMclc
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=cv-builder-web-4ede1.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=cv-builder-web-4ede1
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=cv-builder-web-4ede1.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=117164913208
NEXT_PUBLIC_FIREBASE_APP_ID=1:117164913208:web:4323d02e39a06ffffeaccd
